.headerAdmin {
  width: 20%;
  background-color: #084ba7;
  position: fixed;
  top: 0;
  bottom: 0;
}

.logo {
  width: 100%;
  margin-bottom: 10%;
}

.item {
  height: 50px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;

}

.flex {
  height: 100%;
  display: flex;
  align-items: center;
}

.headerAdminList {
  padding: 15px;
  margin-top: 20%;
}

.colorW {
  margin-left: 10%;
  width: 80%;
  color: white;
}

.numberNotification {
  color: #ff0000;
  font-weight: 800;
  width: 22%;
}

.iconArrowR {
  color: white;
  font-size: 20px;
}
