.itemProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.imgItem {
  width: 100%;
}

.itemName {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 800;
}

.itemPrice {
  font-size: 16px;
  font-weight: 800;
  color: red;
  padding: 10px;
}

.active {
  display: none;
}

.selectSp {
  width: 100%;
  display: flex;
  color: white;
  font-weight: 700;
  align-items: center;
  background-color: red;
  border-radius: 10px;
  padding: 10px 0;
}

.cartIcon {
  font-size: 24px;
  margin: 0 10px 0 5px;
}

.textSelectSp {
  margin: 0px;
}
