.modal {
  cursor: pointer;
  z-index: 10;
  background-color: white;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.modalIcon {
  font-size: 20px;
  padding-left: 10px;
}

.iconArrowR {
  font-size: 25px;
  padding: 10px;
}

.list {
  height: 51px;
}

.textNameList {
  margin-left: 10px;
}

.textNameListChild {
  padding-left: 10px;
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #ccc;
}

.childList {
  position: absolute;
  margin-top: -51px;
  left: 100%;
  width: 100%;
  z-index: 11;
  background-color: white;
  border: 1px solid #ccc;
}
