.HomeAdminScreen {
  padding: 20px 4% 30px 22%;
  color: #454545;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
}

.spaceBetween {
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

.w100pt {
  width: 100%;
}

.rank {
  margin-top: 20px;
}

.textType {
  margin: 10px 0 15px 0;
  font-size: 18px;
  padding: 10px 0;
  border-bottom: 1px solid #cccccc;
}

.topTypeSell {
  width: 400px;
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
}

.rowPercent {
  margin: 10px 0;
}

.rowPt {
  margin-top: 5px;
  height: 5px;
  border-radius: 50px;
  border: 1px solid #cccccc;
  overflow: hidden;
}

.linearGradientHTC {
  background: linear-gradient(to right, rgb(238, 9, 121), rgb(255, 106, 0));
}

.warp {
  flex-wrap: wrap;
}

.imgAndName {
  width: 70%;
}

.headerA {
  justify-content: space-between;
  width: 95%;
  margin-bottom: 20px;
}

.itemH {
  border: 1px solid #cccccc;
  font-size: 22px;
  font-weight: 700;
  align-items: center;
  width: 25%;
  padding: 20px;
  line-height: 32px;
  border-radius: 20px;
  cursor: pointer;
}

.iconH {
  font-size: 40px;
  margin-right: 15px;
}

.iconLeft {
  margin-right: 10px;
}

.listChart {
  width: 100%;
}

.itemList {
  width: 50%;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;
  border: 1px solid #cccccc;
  justify-content: space-between;
}

.imgProduct {
  width: 15%;
  margin-right: 10px;
}

.percent {
  font-size: 14px;
  margin-top: 10px;
}

.green {
  color: #02ac02;
}

.red {
  color: red;
}

.iconUser {
  padding: 10px;
  margin-right: 10px;
  border-radius: 100000px;
  background-color: rgba(52, 96, 255, 0.22);
  color: #0892c1;
}
