.EditProductKhoHangAdminScreen {
  padding: 20px 4% 30px 22%;
  color: #454545;
}

.flex {
  display: flex;
}

.w50pt {
  width: 50%;
}

.bold {
  font-weight: bold;
}

.textHeader {
  font-size: 20px;
  margin: 10px 0 20px;
}

.itemInput {
  line-height: 26px;
  font-size: 18px;
  margin-bottom: 12px;
}

.textInput {
  margin-bottom: 5px;
}

.input {
  width: 80%;
  color: #454545;
  font-size: 16px;
  border-radius: 10px;
  padding: 8px;
  border: 1px solid #cccccc;
}

.selectImg {
  width: 100%;
}

.selectInput {
  width: 50%;
}

.inputImg {
  width: 100%;
}

.imgSelected {
  width: 50%;
}

.textDescribe {
  margin-top: 20px;
  font-size: 18px;
}
