.categoryHeader {
  font-size: 22px;
  padding-bottom: 5px;
  border-bottom: 2px solid #dcdcdc;
  margin-bottom: 10px;
}

.categoryList {
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
}

.categoryItem {
  padding: 20px 10px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
}

.active:hover {
  cursor: pointer;
  color: #05b2e9;
}

.categoryItemH {
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  background-color: #05b2e9;
}

.icon {
  color: #0586ad;
  margin-right: 10px;
}
