.bodyScreen {
  padding: 130px 0 30px;
  width: 70%;
  margin: auto;
}

.center {
  text-align: center;
}

.textHeader {
  font-size: 30px;
  font-weight: 500;
  color: #474747;
}

.img {
  margin: 20px 0px;
  width: 100%;
}

.textC {
  font-size: 20px;
  font-weight: 700;
  color: #0a81b3;
}

.textB {
  font-weight: 700;
}

.colorRed {
  color: red;
  font-weight: 700;
}

.table {
  width: 100%;
}
